body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    padding: 1em;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.curso {
    border: 1px solid #ddd;
    padding: 20px;
    width: 30%;
    text-align: center;
    cursor: pointer;
}

.curso:hover {
    background-color: #f0f0f0;
}
